*.o
*.lo
*.la
Makefile
Makefile.in
aclocal.m4
autom4te.cache
coil/coil_marshal.c
coil/coil_marshal.h
coil/coil_parser.c
coil/coil_parser.h
coil/coil_parser.output
coil/coil_scanner.c
coil/coil_scanner.h
coil/coildebug
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
tests/functional/run_functional_tests
tests/unit/test_path
tests/unit/test_path.c
tests/unit/test_struct
tests/unit/test_struct.c
tests/unit/test_value
tests/unit/test_value.c
ylwrap
