Source: coil
Maintainer: Michael Marineau <mike@marineau.org>
Section: python
Priority: optional
Build-Depends: debhelper (>= 7), python-support (>= 0.8.4)
Standards-Version: 3.7.2
XS-Python-Version: all

Package: python-coil
Architecture: all
Depends: ${python:Depends} ${misc:Depends}
Provides: ${python:Provides}
Description: A powerful configuration language
 Coil is a configuration file format that is parsed into a tree of
 dict like Struct objects. The format supports inheritance, allowing
 complicated configurations to be as compact as possible.

